{% extends "../base.html" %}
{% load staticfiles %}

{% block navbar %}
	{% include "../navbar.html" %}
{% endblock %}


{% block body %}

<style>
	.paragraph{
		font-size: 20px;
	}
</style>

<section id="work-process" >
	<div class="container" style="height: 70px">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">Our Blog</h2>
		</div>
	</div>
</section> 


<section>
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	{% for post in posts %}
                <div class="post-preview">
                    <a href="{% url 'post_detail' post.id %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <p class="paragraph">
                            Problems look mighty small from 150 miles up
                        </p>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on {{ post.published_date }}</p>
                </div>
                <hr>
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}





