{% extends "../base.html" %}
{% load staticfiles %}

{% block navbar %}
	{% include "../navbar.html" %}
{% endblock %}

{% block body %}
<section id="blog">
	<div class="container">

		<div class="row">
			<div class="col-sm-8">
			<div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
			<article>
				<header class="entry-header">
					<div class="entry-thumbnail">
						<img class="img-responsive" src=" {% static 'images/blog/contact.jpg' %} " height="200px" alt="">
					</div>

					<div class="entry-date">{{ detail.published_date }}</div>
					<h2 class="entry-title"><a href="post_detail.html">
						{{ detail.title }}</a>
					</h2>
				</header>
				<p>
					{{detail.article}}
				</p>

				<footer class="entry-meta">
					<span class="entry-author"><i class="fa fa-pencil"></i> <a href="#"> {{detail.author}} </a></span>
					<span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Tutorial</a></span>
					<span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
				</footer>
			</article>
		</div> 
		</div>
		</div>
		</div>
	</div>
</section>
{% endblock %}