{% extends "../page/base.html" %}
{% load staticfiles %}

{% block header %}
    <header class="intro-header" style="background-image: url('{% static 'images/post-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ detail.title }}</h1>
                        <span class="meta">Posted by <a href="#">{{ detail.author }}</a> on {{ detail.published_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                        {{ detail.article | linebreaks}}
                    </p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}