{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Hub sisi</title>
	 
	<link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href=" {% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href=" {% static 'css/animate.min.css' %}" rel="stylesheet">
	<link href=" {% static 'css/owl.carousel.css' %}" rel="stylesheet">
	<link href=" {% static 'css/owl.transitions.css' %}" rel="stylesheet">
	<link href=" {% static 'css/prettyPhoto.css' %}" rel="stylesheet">
	<link href=" {% static 'css/main.css' %}" rel="stylesheet">
	<link href=" {% static 'css/responsive.css' %}" rel="stylesheet">
	<link rel="shortcut icon" href=" {% static 'images/ico/favicon.ico' %}">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href=" {% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href=" {% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href=" {% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" href=" {% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
</head> 


<body id="home" class="homepage">


<header id="header">
	<nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src=" {% static 'images/logo.png' %}" alt="logo"></a>
			</div>
			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">
					<li class="scroll active"><a href="#home">Home</a></li>
					<li class="scroll"><a href="#features">About</a></li>
					<li class="scroll"><a href="#portfolio">Our Work</a></li>
					<li class="scroll"><a href="#about">More</a></li>
					<li class="scroll"><a href="#meet-team">Team</a></li>
					<li class="scroll"><a href="#blog">Blog</a></li>
					<li class="scroll"><a href="#get-in-touch">Contact</a></li>
				</ul>
			</div>
		</div> 
	</nav> 
</header> 


<section id="main-slider">
	<div class="item" style="background-image: url( {% static 'images/slider/bg1.jpg' %} ); height: 500px">
		<div class="slider-inner">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="carousel-content">
							<h2><span>Hub</span> sisi</h2> <br>

							<div style="font-size: 32px">
							<p>
								We promote innovation, collaboration <br><br>
								& knowledge-sharing  
							</p>
							</div>
							<br>
							<a class="btn btn-primary btn-lg" href="#">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</section> 


<section id="cta" class="wow fadeIn">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<h2>Here is what you should know</h2>

				<div style="font-size: 16px">
					<p>sisiHub is a tech startup, co-founded by Bernard Ouma, Chris Otta, Herons Odhiambo and Issa Athman, hatched from the idea of creating an accessible meeting point for the growing IT community around Maseno. It adopts a collaborative working structure and creates space for technology community to come and work together. </p>

					<p>We would love to work with you or if you want to support us, please feel free to click the button.
					</p>
				</div>
				
			</div>
			<div class="col-sm-3 text-right">
				<a class="btn btn-primary btn-lg" href="#get-in-touch">Get in touch!</a>
			</div>
		</div>
	</div>
</section> 


<section id="features">
	<div class="container">
		<div class="section-header" style="margin-bottom: 0px;">
			<h2 class="section-title text-center wow fadeInDown">What we do</h2>
		</div>

		<div class="row" style="margin-top: 0px;">
			<div class="col-sm-6 wow fadeInLeft">
				<img class="img-responsive" src=" {% static 'images/cowork.jpg' %} " style="margin-top: 80px; height: 600px;" alt="">
			</div>

			<div class="col-sm-6" style="">
				<div class="media service-box wow fadeInRight">
					<div class="pull-left">
						<i class="fa fa-line-chart"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Mentorship</h4>
						<p>At these forums students and participants for these events are grouped based on their interesting technology or interests then are taught on the basics of the discipline.</p>
						<p>Proffessionals from these disciplines teach the students the prerequisites of being active in the market and ways of staying alive in the business.</p>
					</div>
				</div>

				<div class="media service-box wow fadeInRight">
					<div class="pull-left">
						<i class="fa fa-cubes"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Collaboration</h4>
						<p>We believe that bundling resources not only saves cost, but working together in one space with many co-workers is seemed as a source of inspiration and creates collaborative possibilities on a project based level.</p>

						<p>sisiHub aims to create the very space, offering learning, networking and collaboration opportunities as well as workspace for individuals small startups for the Maseno University technology community and its environs.</p>
					</div>
				</div>

				<div class="media service-box wow fadeInRight">
					<div class="pull-left">
						<i class="fa fa-pie-chart"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Flexible Workspaces</h4>
						<p>Based on the idea of open membership and the provision of access to technology, we host tech meet-ups bringing together tech enthusiast from the student population to share resources, knowledge and jointly work on IT related projects. </p>
						
						<p>Collaboration takes an informal approach as is the atmosphere.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="cta2">
	<div class="container">
		<div class="text-center">
			<h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
				WE ARE FUN AROUND KIDS TOO!!!
			</h2>

			<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
				<br><a class="btn btn-primary btn-lg" href="#get-in-touch">Get in touch</a>
			</p>

			<img class="img-responsive wow fadeIn" src=" {% static 'images/cta2/cta2-img.png' %} " alt="" data-wow-duration="300ms" data-wow-delay="300ms">
		</div>
	</div>
</section>


<section id="portfolio">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">Our Works</h2>
			<p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div>

		<div class="portfolio-items">
		<div class="portfolio-item creative">
		<div class="portfolio-item-inner">
		<img class="img-responsive" src=" {% static 'images/portfolio/01.jpg' %} " alt="">
		<div class="portfolio-info">
		<h3>Portfolio Item 1</h3>
		Lorem Ipsum Dolor Sit
		<a class="preview" href=" {% static 'images/portfolio/full.jpg' %} " rel="prettyPhoto"><i class="fa fa-eye"></i></a>
		</div>
		</div>
		</div> 

		<div class="portfolio-item corporate portfolio">
		<div class="portfolio-item-inner">
		<img class="img-responsive" src=" {% static 'images/portfolio/02.jpg' %} " alt="">
		<div class="portfolio-info">
		<h3>Portfolio Item 2</h3>
		Lorem Ipsum Dolor Sit
		<a class="preview" href=" {% static 'images/portfolio/full.jpg' %} " rel="prettyPhoto"><i class="fa fa-eye"></i></a>
		</div>
		</div>
		</div> 

		<div class="portfolio-item creative">
		<div class="portfolio-item-inner">
		<img class="img-responsive" src=" {% static 'images/portfolio/03.jpg' %} " alt="">
		<div class="portfolio-info">
		<h3>Portfolio Item 3</h3>
		Lorem Ipsum Dolor Sit
		<a class="preview" href=" {% static 'images/portfolio/full.jpg' %} " rel="prettyPhoto"><i class="fa fa-eye"></i></a>
		</div>
		</div>
		</div> 

		<div class="portfolio-item corporate">
		<div class="portfolio-item-inner">
		<img class="img-responsive" src=" {% static 'images/portfolio/04.jpg' %} " alt="">
		<div class="portfolio-info">
		<h3>Portfolio Item 4</h3>
		Lorem Ipsum Dolor Sit
		<a class="preview" href=" {% static 'images/portfolio/full.jpg' %} " rel="prettyPhoto"><i class="fa fa-eye"></i></a>
		</div>
		</div>
		</div> 

		</div>
	</div> 
</section> 


<section id="about">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">About Us</h2>
			<p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div>

		<div class="row">
			<div class="col-sm-6 wow fadeInLeft">
				<h3 class="column-title">Video Intro</h3>
				 
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="http://player.vimeo.com/video/58093852?title=0&amp;byline=0&amp;portrait=0&amp;color=e79b39" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>

			<div class="col-sm-6 wow fadeInRight">
				<h3 class="column-title">Multi Capability</h3>

				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>

				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>

				<div class="row">
					<div class="col-sm-6">
						<ul class="nostyle">
							<li><i class="fa fa-check-square"></i> Ipsum is simply dummy</li>
							<li><i class="fa fa-check-square"></i> When an unknown</li>
						</ul>
					</div>

					<div class="col-sm-6">
						<ul class="nostyle">
							<li><i class="fa fa-check-square"></i> The printing and typesetting</li>
							<li><i class="fa fa-check-square"></i> Lorem Ipsum has been</li>
						</ul>
					</div>
				</div>
				<a class="btn btn-primary" href="#">Learn More</a>
			</div>
		</div>
	</div>
</section> 


<section id="work-process">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">Our Process</h2>
			<p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div>
	</div>
</section> 


<section id="meet-team">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">Meet The Team</h2>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
					<div class="team-img">
						<img class="img-responsive" src=" {% static 'images/team/bernard.jpg' %} " alt="">
					</div>

					<div class="team-info">
						<h3>Bernard Ouma</h3>
						<span>Co-Founder</span>
					</div>

					<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>

					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
					<div class="team-img">
						<img class="img-responsive" src=" {% static 'images/team/chris.jpg' %} " alt="">
					</div>

					<div class="team-info">
						<h3>Chris Otta</h3>
						<span>Co-Founder</span>
					</div>

					<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>

					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
					<div class="team-img">
						<img class="img-responsive" src=" {% static 'images/team/herons.jpg' %} " alt="">
					</div>

					<div class="team-info">
						<h3>Herons Odhiambo</h3>
						<span>Co-Founder</span>
					</div>

					<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>

					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
					<div class="team-img">
						<img class="img-responsive" src=" {% static 'images/team/ziripic.jpg' %} " alt="">
					</div>

					<div class="team-info">
						<h3>Ziri Issa</h3>
						<span>Co-Founder</span>
					</div>

					<p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>

					<ul class="social-icons">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section> 


<section id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">
				 
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<p>
								<img class="img-circle img-thumbnail" src=" {% static 'images/testimonial/01.jpg' %} " alt="">
							</p>

							<h4>Louise S. Morgan</h4>
							<small>Treatment, storage, and disposal (TSD) worker</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
						</div>
						<div class="item">
							<p>
								<img class="img-circle img-thumbnail" src=" {% static 'images/testimonial/01.jpg' %} " alt="">
							</p>
							<h4>Louise S. Morgan</h4>
							<small>Treatment, storage, and disposal (TSD) worker</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
						</div>
					</div>
				 
				<div class="btns">
					<a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="prev">
						<span class="fa fa-angle-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>

					<a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="next">
						<span class="fa fa-angle-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>
</section> 


<section id="blog">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">From Our Blogs</h2>
		</div>

		<div class="row">

		<div class="col-sm-6">
			<div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
			<article>
				<header class="entry-header">
					<div class="entry-thumbnail">
						<img class="img-responsive" src=" {% static 'images/blog/01.jpg' %} " alt="">
						<span class="post-format post-format-video"><i class="fa fa-film"></i></span>
					</div>

					<div class="entry-date">25 November 2014</div>
					<h2 class="entry-title"><a href="#">
						While now the fated Pequod had been so long afloat this</a>
					</h2>
				</header>

				<div class="entry-content">
					<P>With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the mate the long iron rod remaining, bade him hold it upright, without its touching off the steel head of the lance, and then handing to the mate the long iron rod remaining. without its touching off the steel without its touching off the steel</P>
					<a class="btn btn-primary" href="#">Read More</a>
				</div>

				<footer class="entry-meta">
					<span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Victor</a></span>
					<span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Tutorial</a></span>
					<span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
				</footer>
			</article>
			</div>
		</div> 

		<div class="col-sm-6">
		<div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="100ms">
			<article class="media clearfix">
			<div class="entry-thumbnail pull-left">
				<img class="img-responsive" src=" {% static 'images/blog/02.jpg' %} " alt="">
				<span class="post-format post-format-gallery"><i class="fa fa-image"></i></span>
			</div>

			<div class="media-body">
				<header class="entry-header">
					<div class="entry-date">01 December 2014</div>
					<h2 class="entry-title"><a href="#">BeReviews was a awesome envent in dhaka</a></h2>
				</header>

				<div class="entry-content">
					<P>With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the steel</P>
					<a class="btn btn-primary" href="#">Read More</a>
				</div>

				<footer class="entry-meta">
					<span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Campbell</a></span>
					<span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Tutorial</a></span>
					<span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
				</footer>
			</div>
			</article>
		</div>

		<div class="blog-post blog-media wow fadeInRight" data-wow-duration="300ms" data-wow-delay="200ms">
			<article class="media clearfix">
			<div class="entry-thumbnail pull-left">
				<img class="img-responsive" src=" {% static 'images/blog/03.jpg' %} " alt="">
				<span class="post-format post-format-audio"><i class="fa fa-music"></i></span>
			</div>

			<div class="media-body">
				<header class="entry-header">
					<div class="entry-date">03 November 2014</div>
					<h2 class="entry-title"><a href="#">Play list of old bangle music and gajal</a></h2>
				</header>

				<div class="entry-content">
					<P>With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the steel</P>
					<a class="btn btn-primary" href="#">Read More</a>
				</div>
				<footer class="entry-meta">
					<span class="entry-author"><i class="fa fa-pencil"></i> <a href="#">Ruth</a></span>
					<span class="entry-category"><i class="fa fa-folder-o"></i> <a href="#">Tutorial</a></span>
					<span class="entry-comments"><i class="fa fa-comments-o"></i> <a href="#">15</a></span>
				</footer>
			</div>
			</article>
		</div>
		</div>
		</div>
	</div>
</section>


<section id="get-in-touch">
	<div class="container">
	<div>
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">Get in Touch</h2>
		</div>

		<div class="col-sm-2"></div>

		<div class="col-sm-8">
		<div class="contact-form">
			<form id="main-contact-form" name="contact-form" method="post" action="#">

				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Name" required>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<input type="email" name="email" class="form-control" placeholder="Email" required>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="form-group">
						<input type="text" name="subject" class="form-control" placeholder="Subject" required>
					</div>
				</div>

				<div class="col-sm-12">	
					<div class="form-group">
						<textarea name="message" class="form-control" rows="8" placeholder="Message" required></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Send Message</button>
				</div>

			</form>
		</div>
		</div>

		<div class="col-sm-2"></div>

	</div>
	</div>
</section> 


<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				&copy; 2014 Hub sisi.
			</div>
			<div class="col-sm-6">
				<ul class="social-icons">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
					<li><a href="#"><i class="fa fa-behance"></i></a></li>
					<li><a href="#"><i class="fa fa-flickr"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fa fa-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer> 

	<script src=" {% static 'js/jquery.js' %} "></script>
	<script src=" {% static 'js/bootstrap.min.js' %} "></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src=" {% static 'js/owl.carousel.min.js' %} "></script>
	<script src=" {% static 'js/mousescroll.js' %} "></script>
	<script src=" {% static 'js/smoothscroll.js' %} "></script>
	<script src=" {% static 'js/jquery.prettyPhoto.js' %} "></script>
	<script src=" {% static 'js/jquery.isotope.min.js' %} "></script>
	<script src=" {% static 'js/jquery.inview.min.js' %} "></script>
	<script src=" {% static 'js/wow.min.js' %} "></script>
	<script src=" {% static 'js/main.js' %} "></script>

</body>
</html>