<li class="scroll active"><a href="#home">Home</a></li>
<li class="scroll"><a href="#features">About</a></li>
<li class="scroll"><a href="#portfolio">Our Work</a></li>
<li class="scroll"><a href="#meet-team">Team</a></li>
<li class="scroll"><a href="#blog">Blog</a></li>
<li class="scroll"><a href="#get-in-touch">Contact</a></li>

<li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><b> More </b> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="active"><a href=" {% url 'portfolio' %} ">portfolio</a></li>
            <li class=""><a href=" {% url 'team' %} ">Team Sisi</a></li>
            <li class=""><a href=" {% url 'post_list' %} ">Blog</a></li>
        </ul>
</li>