{% extends "./base.html" %}
{% load staticfiles %}


{% block navbar %}
	{% include "./navbar.html" %}
{% endblock %}

{% block body %}

<section id="work-process">
	<div class="container" style="height: 70px">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown">Meet The Team</h2>
		</div>
	</div>
</section> 	

	<section id="meet-team">
	<div class="container">

		<div class="row">
			<div class="col-sm-6 col-md-3 ">
	   	        <a class="" href="" title=" Name: Ziri" data-toggle="popover" data-trigger="hover" data-container="body" data-placement="bottom" data-content=" Profession:  Tech   Mobile:  900900900 "  >
	               <!-- <p class="page-header" align="center"><?php echo $row['name']; ?></p> -->
	      			<img src=" {% static 'images/team/bernard.jpg' %} " class="img-circle" width="250px" height="250px" />
	      			</a>
	               <hr>
			</div> 

			<div class="col-sm-6 col-md-3 ">
	   	        <a class="" href="" title=" Name: Ziri" data-toggle="popover" data-trigger="hover" data-container="body" data-placement="bottom" data-content=" Profession:  Tech   Mobile:  900900900 "  >
	               <!-- <p class="page-header" align="center"><?php echo $row['name']; ?></p> -->
	      			<img src=" {% static 'images/team/herons.jpg' %} " class="img-circle" width="250px" height="250px" />
	      			</a>
	               <hr>
			</div> 

			<div class="col-sm-6 col-md-3 ">
	   	        <a class="" href="" title=" Name: Ziri" data-toggle="popover" data-trigger="hover" data-container="body" data-placement="bottom" data-content=" Profession:  Tech   Mobile:  900900900 "  >
	               <!-- <p class="page-header" align="center"><?php echo $row['name']; ?></p> -->
	      			<img src=" {% static 'images/team/ziripic.jpg' %} " class="img-circle" width="250px" height="250px" />
	      			</a>
	               <hr>
			</div> 

			<div class="col-sm-6 col-md-3 ">
	   	        <a class="" href="" title=" Name: Ziri" data-toggle="popover" data-trigger="hover" data-container="body" data-placement="bottom" data-content=" Profession:  Tech   Mobile:  900900900 "  >
	               <!-- <p class="page-header" align="center"><?php echo $row['name']; ?></p> -->
	      			<img src=" {% static 'images/team/chris.jpg' %} " class="img-circle" width="250px" height="250px" />
	      			</a>
	               <hr>
			</div> 
			
		</div>

		
	</div>
</section> 
{% endblock %}